* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
    height: 920px;
    height: 100vh;
    min-height: 800px;
    position: relative;
    font-family: "Lato", sans-serif !important;
}

.dropdown-item {
    color: black !important;
}
.global-background {
    width: 100%;
    min-height: 1000px;
    position: relative;
    background: #f5f3fb;
}
.global-content {
    padding-top: 70px;
    max-width: 1300px;
    margin: 0 auto;
}
.home-background {
    width: 100%;
    height: 920px;
    height: 100vh;
    min-height: 800px;
    position: relative;
    background: rgb(72, 41, 178);
    background: linear-gradient(
        167deg,
        rgba(90, 62, 186, 1) 55.5%,
        rgba(72, 41, 178, 1) 55.5%
    );
}
.home-content {
    padding-top: 5vh;
    max-width: 700px;
    margin: 0 auto;
}
.home-button-container {
    padding-left: 115px;
}
.home-button-container span {
    display: inline-block;
    width: 20px;
}
.global-button {
    width: 150px;
    background-color: transparent;
    border: 1px solid #5c3ebb;
    color: #5c3ebb;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10rem;
}
.global-button:hover {
    background-color: #5c3ebb;
    color: white;
}
.home-button {
    width: 150px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10rem;
}
.home-button:hover {
    background-color: white;
    color: black;
}
.home-desc-container {
    padding-top: 35vh;
}
.home-title-title {
    color: white;
    font-size: 4.375rem;
    line-height: 1.25;
}
.home-title-desc {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    padding-left: 10px;
}
.global-content h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 3rem;
    font-weight: 700;
}
.category-container {
    position: relative;
    transition: top ease 0.5s;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
}
.category-container:hover {
    top: -10px;
}
.category-container-active svg {
    fill: #402c83 !important;
}
.category-icon svg {
    fill: #5c3ebb;
    width: 200px;
    height: 200px;
    margin: 10px;
}
.form-button {
    margin: 0 auto;
    display: block;
}
.login-modal-background {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}
.login-box-container {
    top: 25vh;
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
}
.login-box {
    max-width: 530px;
    margin: 0 auto;
    padding: 30px 35px 30px 35px;
    background-color: white;
    border: 1px solid #c2c2c2;
    border-radius: 22px;
}
.login-invalid-data-container {
    display: none;
    text-align: center;
    border: solid 1px #cc0000;
    margin-bottom: -10px;
    margin-top: 15px;
}
.login-invalid-data-container p {
    font-weight: bold;
    font-size: 10pt;
    padding: 4px;
    color: #cc0000;
    text-transform: uppercase;
    margin-bottom: 0;
}
.login-form-row {
    position: relative;
    width: 100%;
    height: 57px;
    margin-top: 25px;
}
.login-form-row-item {
    display: block;
    width: 100%;
    height: 100%;
}
.login-form-row-input {
    padding: 15px 20px 11px 50px;
    width: 100%;
    height: 100%;
    outline: none;
    border: solid 1px #b6b6b6;
    border-radius: 8px;
    color: #333333;
    letter-spacing: 0.8px;
    font-weight: 400;
    font-size: 15pt;
    resize: none;
    transition: all 0.2s ease;
}
.login-form-row-input-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.login-form-row-input:invalid + .placeholder {
    position: absolute;
    top: 50%;
    left: 40px;
    display: block;
    padding: 0 10px;
    color: #808080;
    white-space: nowrap;
    letter-spacing: 0.8px;
    font-weight: normal;
    font-size: 15pt;
    transition: all, 0.2s;
    transform: translateY(-50%);
    pointer-events: none;
    user-select: none;
}
.placeholder {
    left: 40px;
    position: absolute;
    background-color: white;
    display: block;
    padding: 0 10px;
    top: -5px;
    color: #5c3ebb;
    letter-spacing: 0.8px;
    font-size: 13px;
    line-height: 14px;
    transform: translateY(0);
}

.login-form-row-input:focus + .placeholder {
    top: -5px;
    background-color: white;
    color: #5c3ebb;
    letter-spacing: 0.8px;
    font-size: 13px;
    line-height: 14px;
    transform: translateY(0);
}

.login-form-row-input-wrapper:focus
    .login-form-row-input:not(:focus):not(:hover)
    ~ .placeholder {
    color: #694acf;
}
.login-form-row-input-wrapper .login-form-row-input:focus,
.login-form-row-input-wrapper .login-form-row-input:hover {
    border-color: #5c3ebb;
}
.login-submit-button-container {
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.login-submit-button {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 60px;
    border-radius: 8px;
    background-color: #5c3ebb;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 400;
    font-size: 15pt;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.login-submit-button:hover {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: #493296;
}
.login-select-login-register {
    position: relative;
    width: 400px;
    margin: 0 auto;
    border-radius: 8px;
}
.login-select-button {
    width: 200px;
    height: 40px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.8px;
    font-weight: 400;
    font-size: 15pt;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.login-select-button-active {
    width: 200px;
    height: 40px;
    background-color: #5c3ebb;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.8px;
    font-weight: 400;
    font-size: 15pt;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.login-select-button:hover {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: #493296;
}
.login-cancel {
    position: relative;
    width: 100%;
    margin-top: 25px;
}
.login-cancel-button {
    border: none;
    background: none;
    display: block;
    margin: 0 auto;
    color: #808080;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.8px;
    font-weight: 400;
    font-size: 13pt;
    transition: all 0.2s linear;
    padding-bottom: 5px;
    background: linear-gradient(to right, #ffffff 0%, #5c3ebb 98%);
    background-size: 0px 2px;
    background-repeat: no-repeat;
    background-position: left 85%;
}
.login-cancel-button:hover {
    background-size: 100% 2px;
    color: #5c3ebb;
}
.login-icon {
    padding: 15px 0px 0px 15px;
    position: absolute;
    width: 40px;
    height: 40px;
}
.list-project,
.list-project:link,
.list-project:hover,
.list-project:visited {
    color: black;
    text-decoration: none;
}
.list-project-container,
.list-offer-container {
    min-height: 170px;
    width: 100%;
    height: auto;
}
.list-project-container:hover,
.list-offer-container:hover {
    transition-duration: 0.4s;
    background-color: #efecf9;
}
.list-project-details {
    display: block;
    width: 100%;
}
.project-list-author {
    margin-left: 10px;
    padding: 10px;
    width: 90%;
    display: inline-block;
}
.project-list-category,
.offer-list-category {
    float: left;
    width: auto;
    padding: 10px;
}
.project-list-category div,
.offer-list-category div {
    width: 100px;
    display: inline-block;
}
.project-list-category svg,
.offer-list-category svg {
    fill: #5c3ebb;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.project-list-skills,
.offer-list-skills {
    float: left;
    width: auto;
    padding: 10px;
}
.project-list-skills div,
.offer-list-skills div {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}
.project-list-price,
.offer-list-price {
    width: 10%;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    float: right;
}
.project-title {
    display: block;
    width: 100%;
    float: left;
    padding: 10px;
}
.project-list-desc {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.project-offers-container {
    /* min-height: 170px; */
    margin: 0 auto;
    width: 80%;
    height: auto;
}
.project-offer-container {
    border-left: 5px solid #402c83;
    height: auto;
    margin: 25px 0px;
    padding-left: 10px;
}
.project-offer-author {
    margin-left: 10px;
    width: 90%;
}
.project-offer-author-date {
    padding: 10px 0px;
    float: left;
    display: block;
    width: 50%;
}
.project-offer-time-price {
    position: relative;
    top: 20px;
    padding: 10px 0px;
    float: left;
    display: block;
    width: 50%;
}
.project-offer-skills {
    padding: 10px 0px;
    float: left;
    width: 100%;
    display: block;
}
.project-offer-skills div {
    display: inline-block;
    margin-right: 10px;
}
.project-offer-message {
    padding: 10px 0px;
    display: block;
    width: 100%;
}
.add-offer-container,
.edit-project-container {
    min-width: 1300px;
}
.offer-skills {
    float: left;
    display: block;
    width: 20%;
}
.offer-rest,
.edit-project-rest,
.edit-offer-rest {
    float: left;
    display: block;
    width: 80%;
}
.offer-send-button {
    margin-left: 200px;
}
.edit-project-skills,
.edit-offer-skills {
    float: left;
    display: block;
}
.edit-project-category {
    float: left;
    display: block;
}
.edit-project-first,
.edit-offer-first {
    float: left;
    display: block;
    width: 20%;
}
.offer-list-time-price {
    top: 20px;
    padding: 10px 0px;
    float: right;
    display: block;
    width: 40%;
}
.offer-list-desc {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.admin-panel-users-table {
    border-collapse: collapse;
}
.admin-panel-users-table td,
.admin-panel-users-table th {
    border: 1px solid #ddd;
    padding: 8px;
}
.admin-panel-users-table tr:nth-child(even) {
    background-color: #ded8f2;
}

.admin-panel-users-table tr:hover {
    background-color: #bdb1e5;
}

.admin-panel-users-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5c3ebb;
    color: white;
}
.nav-logged-as {
    left: -10px;
    position: relative;
}
#title input {
    width: 459px;
}
